body {
    font-size: 50px;
}

#canvas {
    border: solid black;
    background-color: gray;
    margin: 0 auto;
    display: block;
}

.score-board {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    width: 400px;
}

.red-text    {
    color: #f12e00;
}

.white-text {
    color: white
}

.black-text {
    color: black
}

.lose-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    color: white;
    background: #d6290082;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 6vw;
}

.restart-game {
    color: black;
    cursor: pointer;
    margin-top: 15vw;
}

p {
    margin-top: 1vw;
    margin-bottom: 1vw;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;    
    overflow: hidden;
}

.settings {
    margin-top: 15px;
}